.tab-group__admin-dashboard {
  min-width: 90svw;
  margin-top: 1rem;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.tab-icon {
  color: #37aefe;
  margin-right: 8px;
}

.tab-title {
  color: #37aefe;
}

.mat-tab-group {
  color: #37aefe;
  font-size: 1.5rem;
}
