<div class="h-v-center vh-100">
  <mat-card class="register__card" appearance="raised">
    <mat-card-header class="header__card">
      <mat-card-title class="title__card">Register New User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" (submit)="onSubmit()" class="form">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Ex. Johnny Appleseed">
          @if (isInvalidField('name')) {
            <mat-error>{{ getFieldError('name') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          @if (isInvalidField('email')) {
            <mat-error>{{ getFieldError('email') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (isInvalidField('password')) {
            <mat-error>{{ getFieldError('password') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Confirm your password</mat-label>
          <input matInput [type]="hide() ? 'password2' : 'text'" formControlName="password2" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password2'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (isInvalidField('password2')) {
            <mat-error>{{ getFieldError('password2') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Privileged Role</mat-label>
          <mat-select formControlName="role">
            @for (role of roles; track role) {
              <mat-option [value]="role.value">{{role.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Choose User Office</mat-label>
          <mat-select>
            @for (office of offices(); track office.uid) {
              <mat-option [value]="office.code">{{office.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-card-actions class="full-width align-center">
          <button type="submit" [disabled]="registerForm.invalid" mat-flat-button>LOGIN</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

