<div class="top-cards">
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Employee Time</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{fechaAlta}} - {{hoy}}</h1>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Employee">
            <mat-chip>time</mat-chip>
            <mat-chip>history</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Employee Time</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{fechaAlta}} - {{hoy}}</h1>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Employee">
            <mat-chip>time</mat-chip>
            <mat-chip>history</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Employee Time</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{fechaAlta}} - {{hoy}}</h1>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Employee">
            <mat-chip>time</mat-chip>
            <mat-chip>history</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
    </mat-card>
</div>
<div class="profile-data">
    <h5>Name: {{currentuser()?.name}}</h5>
    <h5>Email: {{currentuser()?.email}}</h5>
    <h5>Role: {{currentuser()?.role}}</h5>
</div>
  
